{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <h1 class="mb-4">Post by <strong>{{ url_username }}</strong></h1>

  {% for post in posts %}
    <div class="card corder-dark mb-3">

      {% if user.id == post.user_id %}
        <!-- Card Header -->
        <div class="card-header d-flex justify-content-between align-items-center">
            <!-- Dropdown options -->
            <div class="dropdown">
              <button
                  class="btn btn-light"
                  type="button"
                  id="dropdown1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                ...
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdown1">
                <li>
                  <a class="dropdown-item" href="/posts/delete/{{ post.id }}">Delete</a>
                </li>
              </ul>
            </div>
        </div>
      {% endif %}

      <!-- Card Body -->
      <div class="card-body">
        <div class="card-text">{{ post.content }}</div>
      </div>

      <!-- Card Footer -->
      <div class="card-footer text-muted">{{ post.created_at }}</div>
    </div>
  {% endfor %}
{% endblock %}
