{% extends "layout.html" %}

{% block content %}
  <div class="content-section">
    <form method="POST">
      {{ form.hidden_tag() }}
      <fieldset>
	<legend class="border-bottom mb-4 py-2">Update Post</legend>
	<div class="mb-3">
	  {{ form.title.label(class="form-label") }}
	  {% if form.title.errors %}
	    {{ form.title(class="form-control form-control-lg is-invalid") }}
	    {% for error in form.title.errors %}
	      <div class="invalid-feedback">{{ error }}</div>
	    {% endfor %}
	  {% else %}
	    {{ form.title(class="form-control form-control-lg") }}
	  {% endif %}
	</div>
	<div class="mb-3">
	  {{ form.content.label(class="form-label") }}
	  {% if form.content.errors %}
	    {{ form.content(class="form-control form-control-lg is-invalid") }}
	    {% for error in form.content.errors %}
	      <div class="invalid-feedback">{{ error }}</div>
	    {% endfor %}
	  {% else %}
	    {{ form.content(class="form-control form-control-lg") }}
	  {% endif %}
	</div>
	<div class="mb-3">
	  <input class="btn btn-primary" type="submit" value="Submit" />
	</div>
      </fieldset>
    </form>
  </div>
{% endblock content %}
